/* Card.css */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card {
    background: #fff;
    width: 40rem;
    height: auto;
    border-radius: 5px;
    display: flex;
    padding: 1%;
    margin-top: 2%;
    box-shadow: 5px 6px 11px rgba(0, 0, 0,0.1);
    padding: 2%;
  }

  .Perfil-itens{
    width: 77%;
    display: flex;
    flex-direction: column;
  }
<<<<<<< HEAD

.comentario{
  width: 90%;
}
=======
  

  @media (max-width: 600px) {
    
    .Card {
      background: #fff;
      width: 90%;
      height: auto;
      border-radius: 5px;
      display: flex;
      padding: 1%;
      margin-top: 2%;
      box-shadow: 5px 6px 11px rgba(0, 0, 0,0.1);
      padding: 2%;
    }
  
  }
>>>>>>> 13a9f114d81b226568c082b5560bfe6a632e3c53
@media (max-width: 600px) {
    
  .Card {
    background: #fff;
    width: 90%;
    height: auto;
    border-radius: 5px;
    display: flex;
    padding: 1%;
    margin-top: 2%;
    box-shadow: 5px 6px 11px rgba(0, 0, 0,0.1);
    padding: 2%;
  }

}