/* Card.css */
.Card {
    background: #fff;
    width: 50%;
    height: 121px;
    border-radius: 5px;
    display: flex;
    
  }

  .Perfil-itens{
    width: 77%;
    display: flex;
    flex-direction: column;
  }
  