.reply {
    margin-top: 25%;
    border: none;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 70px;
    font-weight: bold;
    color: hsl(238, 40%, 52%);
    cursor: pointer;
}

@media (max-width: 600px) {

    .container-reply{
        display: flex;
    }
    .reply {
        margin-top: 25%;
        border: none;
        background: none;
        display: flex;
        justify-content: space-between;
        width: 70px;
        font-weight: bold;
        color: hsl(238, 40%, 52%);
        cursor: pointer;
        align-items: flex-end;
        margin-bottom: 10%;

    }
}